/* SIMPLE CSS RESET AND RESPONSIVE SETTINGS*/

* {
    margin: 0;
    padding: 0;
    list-style: none;
    vertical-align: baseline;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 15px;
    background-color: black;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 29.7cm;
    width: 21cm;
    margin: auto;
    background-color: white;
}

h1,
h2,
h4,
h5 {
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-size: 1.4em;
    text-transform: lowercase;
    text-align: center;
    margin: 5px 0 15px 0;
}

h1>span {
    color: gray;
}

h2 {
    font-size: 1em;
    border-bottom: 1px solid black;
    color: gray;
    text-align: right;
    margin: 20px 160px;
    margin-left: 0px;
    text-transform: uppercase;
}

h3,
h4,
h5 {
    font-size: 1em;
    margin-top: 10px;
}

h6 {
    font-size: 0.7em;
    text-transform: uppercase;
}

p {
    font-size: 1.0em;
}

li {
    font-size: 0.9em;
}


/* END OF RESET */

header,
footer {
    font-size: 0.8em;
    background-color: #f0db4f;
    width: 100%;
    display: inline-block;
    float: both;
}

header {
    border-bottom: 4px solid #F8EFB4;
}

header .wrapper {
    display: block;
    padding: 0.20cm;
    background-color: #f0db4f;
}

header .left {
    width: 14cm;
    float: left;
    margin: 5px 0 6px 0;
}

header .right {
    font-size: 0.9em;
    width: 5.8cm;
    float: right;
    padding: 16px;
    padding-left: 0px;
}

header .title {
    font-size: 1.8em;
    text-transform: lowercase;
    font-weight: bold;
    text-align: center;
}

header .description {
    background-color: inherit;
    border-radius: 1px;
    border: #F8EFB4 2px solid;
    padding: 0.2cm;
    vertical-align: text-bottom;
    line-height: 1.6em;
    text-align: justify;
    height: 90%;
}

header aside {
    border-radius: 1px;
    border: inherit 2px solid;
    background-color: inherit;
    color: black;
    padding: 0.1 0.2cm;
    line-height: 1.3em;
}

.data-pair {
    padding-bottom: 5px;
}

.data-pair .label,
.data-unity {
    text-transform: uppercase;
    font-weight: bold;
}

content {
    font-size: 1em;
    background-color: white;
    width: 100%;
    display: inline-block;
    float: both;
}

.writer,
.developer {
    display: block;
    padding: 0.20cm;
    background-color: white;
}

.writer {
    float: left;
    padding-left: 30px;
}

.developer {
    padding-right: 30px;
    float: right;
}

section {
    width: 9.4cm;
}

ul li ul li {
    margin-left: 20px;
}

ul li ul li:before {
    content: "- ";
    font-size: 0.8em;
    font-weight: 100;
    color: grey;
}

footer {
    height: 134px;
}

.languages,
.experience-abroad,
.awards,
.street-art {
    display: inline-block;
    width: 23.39%;
    height: 100%;
    vertical-align:top;
    padding: 0px 5px;
}

.languages,
.awards {
    background-color: #f0db4f;
}

.experience-abroad,
.street-art {
    background-color: #EBD01E;
}

footer ul li {
    padding-left: 10px;
    padding-bottom: 5px;
}

footer ul li:before {
    content: "- ";
    font-size: 1em;
    font-weight: 100;
    color: black;
    font-weight: bold;
}


/* @page {
    size: A4;
    margin: 0;
}

@media print {
    html {
        background-color: white;
    }

    body {
        height: 29.7cm;
        width: 21cm;
        margin: auto;
        background-color: white;
    }
} */