---
layout: default
---
<p class="site-slogan">{{ site.slogan }}</p>

{% include whois.html %}


{% for category in site.categories %}
  {{site.categories}}
{% endfor %}

<!-- PROJETOS -->
<section class="site-section">
  <div class="section-head">
    <a href="{{ site.baseurl }}/projetos" class="section-title">{{ site.blogtitle }}</a>
    <a href="{{ site.baseurl }}/projetos" class="section-read-more">Ver todos</a>
  </div>
  <div class="section-body pure-g">
    {% for post in site.posts %}
    {% if post.category == "projetos" limit:4 %}
    <div class="section-item pure-u-1 pure-u-md-1-2">
      <div class="item-title"> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </div>
      <div class="item-body pure-g">
        {% if post.image %}
        <div class="item-img pure-u-1 pure-u-md-1-2">
          <img src="/assets/{{post.image}}" alt="thumbnail image">
        </div>
        <div class="pure-u-1 pure-u-md-1-2">
          {% else %}
          <div class="pure-u-1">
            {% endif %}
            <div class="l-box">
              <div class="pure-g">
                <div class="item-description pure-u-1">
                  <span class="item-date icon-calendar"> {{ post.date | date: "%b %-d, %Y" }}</span> {{ post.excerpt }}
                  <a href="{{ post.url | prepend: site.baseurl }}" class="item-read-more">LEIA MAIS</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
</section>
  <!-- END PROJETOS -->
  
  <!-- BLOG -->
  <section class="site-section">
    <div class="section-head">
      <a href="{{ site.baseurl }}/projetos" class="section-title">Blog</a>
      <a href="{{ site.baseurl }}/projetos" class="section-read-more">Ver todos</a>
    </div>
    <div class="section-body pure-g">
      {% for post in site.posts limit:4 %}
      {% if post.category != "projetos"%}
      <div class="section-item pure-u-1 pure-u-md-1-2">
        <div class="item-title"> <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </div>
        <div class="item-body pure-g">
          {% if post.image %}
          <div class="item-img pure-u-1 pure-u-md-1-2">
            <img src="/assets/{{post.image}}" alt="thumbnail image">
          </div>
          <div class="pure-u-1 pure-u-md-1-2">
            {% else %}
            <div class="pure-u-1">
              {% endif %}
              <div class="l-box">
                <div class="pure-g">
                  <div class="item-description pure-u-1">
                    <span class="item-date icon-calendar"> {{ post.date | date: "%b %-d, %Y" }}</span> {{ post.excerpt }}
                    <a href="{{ post.url | prepend: site.baseurl }}" class="item-read-more">LEIA MAIS</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
      </section>
    <!-- END PROJETOS -->

{% include charts.html %}

{% include curriculum.html %}


