<!-- CHARTS -->
<section class="site-section graphs">
  <div class="section-head">
    <a class="section-title">Meus conhecimentos</a>
  </div>
  <div class="section-body pure-g">
    <div class="section-item pure-u-1 pure-u-md-1-2">
      <h3>JavaScript everywhere!</h3>
      <div class="r-box">
        <p>Criado originalmente para rodar apenas em navegadores, o JavaScript superou suas amarras e já é considerado a linguagem do futuro por muitos especialistas. Hoje a linguagem também passeia por servidores (NodeJS), celulares (PhoneGap), aplicativos desktop (Electron), serviços de Data-mining (CasperJS), Banco de dados (MongoDB) e muito mais.</p>
      </div>
      <canvas id="chart-js"></canvas>
      <div id="legend-chart-js"></div>
    </div>
    <div class="section-item pure-u-1 pure-u-md-1-2">
      <h3>Outras tecnologias</h3>
      <div class="r-box">
        <p>Mas nem só de JavaScript é feita a web! Também estou familiarizado com as seguintes ferramentas:</p>
      </div>
      <canvas id="chart-other"></canvas>
      <div id="legend-chart-other"></div>
    </div>
  </div>
</section>

<script type="text/javascript" src="{{ '/js/Chart.min.js' | prepend: site.url }}"></script>
<script type="text/javascript" src="{{ '/js/index.js' | prepend: site.url }}"></script>
<!-- END CHARTS -->