<!-- CURRÍCULO -->
<section class="site-section curr">
  <div class="section-head">
    <a class="section-title">Meu currículo</a>
  </div>
  <div class="section-body pure-g">
    <div class="section-item pure-u-1 pure-u-md-1-3">
      <h3>Formação</h3>
      <ul>
        <li><p>BE MEAN: Construa seu Instagram com MEAN</p> 
        <span>WebSchool</span> <span>Em andamento</span>
        </li>
        <li><p>PÓS-GRADUAÇÃO: Comunicação Jornalística, enfoque em Cibercultura</p> 
        <span>Casper Líbero</span> <span>2009 - 2010</span>
        </li>
        <li><p>GRADUAÇÃO: Comunicação Social, Jornalismo</p> 
        <span>Universidade Católica de Santos - UniSantos</span> <span>2004 - 2008</span>
        </li>
      </ul>
    </div>
    <div class="section-item pure-u-1 pure-u-md-1-3">
      <h3>Trabalho</h3>
      <ul>
        <li><p>Web scraping de sites da concorrência</p> 
          <span>Cliente do setor de busca online de médicos</span> <span>nov/2015</span> <span>dev</span>
        </li>
        <li><p>Cobertura do Salão do Automóvel</p> 
          <span>Almap | Volkswagen</span> <span>2014</span> <span>jornalismo</span>
        </li>
        <li><p>Ghostwriting: livro digital sobre empreendedorismo</p> 
          <span>encomendado por cliente do setor gráfico</span> <span>2014</span> <span>jornalismo</span>
        </li>
        <li><p>Revisão de textos</p> 
          <span>PIVÔ Associação Cultural</span> <span>2014</span> <span>jornalismo</span>
        </li>
        <li><p>Social Media Content</p> 
          <span>Artidea | Artex e Scala</span> 
          <span>Agência Riot | Ministério da Saúde, Red Bull, Renault, Cup Noodles e outros</span>
          <span>Wunderman Brasil |  redator das redes sociais e blog da Vivo</span> 
          <span>2011-2013</span> 
          <span>jornalismo</span>
        </li>
      </ul>
    </div>
    <div class="section-item pure-u-1 pure-u-md-1-3">
      <h3>Idiomas</h3>
      <ul>
        <li><p>Inglês</p> 
          <span>leitura: avançada</span> <span>escrita: intermediário</span> <span>conversação: intermediário</span>
        </li>
        <li><p>Espanhol</p> 
          <span>leitura: avançada</span> <span>escrita: intermediário</span> <span>conversação: intermediário</span>
        </li>
        <li><p>Curso Cambridge First Certificate na Escola SNT International</p> 
          <span>Bournemouth - Inglaterra</span> <span>out/2005 - mar/2006</span>
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- END CURRÍCULO -->