<!-- WHOIS -->
<section class="site-section whois">
  <div class="section-head">
    <a href="{{ site.baseurl }}/" class="section-title">Quem é Mate Paiva?</a>
  </div>
  <div class="section-body pure-g">
    <div class="section-item pure-u-1 pure-u-md-1-5">
      <img src="{{ site.baseurl }}/assets/avat.jpg" class="avatar">
    </div>
    <div class="section-item pure-u-1 pure-u-md-2-5">
      <div class="r-box apresent">
        <p>Desenvolvedor JavaScript, jornalista, artista de rua ─ e, principalmente, autodidata. Aprende o que for preciso para realizar seus projetos. Em dezembro de 2014, descobriu na programação uma nova paixão e um novo objetivo de vida: tornar-se um desenvolvedor full-stack. Desde então, passa os dias lendo documentações e brincando com códigos para garantir o título de ninja em todas as pilhas do desenvolvimento: seja database, server-side ou client-side.</p>
      </div>
    </div>
    <div class="section-item pure-u-1 pure-u-md-2-5">
      <div class="r-box apresent2">
        <h4>Bah... um profissional de humanas!</h4>
        <p>Desenvolvimento web, antes de tudo, trata-se de comunicação. Se a formação em jornalismo e a experiência profissional em redação web não ajudam com os códigos, são essas mesmas características que garantem ao desenvolvedor uma visão panorâmica do projeto. Um profissional plurivalente e versátil consegue caminhar por diferentes áreas, entendendo desde os gargalos técnicos até as necessidades do cliente final.
      </div>
    </div>
  </div>
</section>
<!-- END WHOIS -->